django~=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
drf-spectacular

celery
redis

fcm-django
firebase-admin

reportlab

django-extensions
python-decouple

gunicorn

psycopg2-binary

django-storages[google]>=1.13.2
google-cloud-storage>=2.10.0