# requirements.txt

# Django ve REST Framework
django~=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
drf-spectacular

# Asenkron Görevler ve Zamanlama
celery
redis

# Firebase Bildirimleri
fcm-django
firebase-admin

# PDF Oluşturma
reportlab

# Yardımcı Araçlar
django-extensions
python-decouple

# Sunucu
gunicorn

# YENİ EKLENDİ: PostgreSQL Bağlantısı
psycopg2-binary